<table>
  <tr>
    <td>Filename: <%= @current_log.filename %></td>
  </tr>
  <tr>
    <td>Belongs to: <%= @current_log.user.name %></td>
  </tr>
  <tr>
    <td>Created at: <%= @current_log.created_at %></td>
  </tr>
  <tr>
    <td><%= button_to "parse", {:controller => 'log', :action => 'parse', :id => @current_log.id}, :method => 'post' %></td>
  </tr>
</table>