<% provide(:title, "首页") %>

<section class="hero bg-overlay" id="hero" data-bg="bg-dark">
<div class="text">
    <p class="lead">CPU Performance Debug Tool</p>
    <h1>处理器性能调试可视化平台</h1>
    <div class="cta">
        <a href="login" class="btn btn-primary smooth-link">登录</a>
        <div class="link">
            <a href="#">Help</a>
        </div>
    </div>
</div>
</section>

<section class="padding" id="features">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-sm-12">
            <div class="list-item">
                <div class="icon">
                    <i class="ion-code"></i>
                </div>
                <div class="desc">
                    <h2>Based on Bootstrap 4</h2>
                    <p>
                        适配桌面、手机，用手机也可以看Log、调性能！
                    </p>
                    <a href="#" class="more">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div class="list-item">
                <div class="icon">
                    <i class="ion-social-github"></i>
                </div>
                <div class="desc">
                    <h2>Open Source</h2>
                    <p>
                        开放源码。。。
                    </p>
                    <a href="#" class="more">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div class="list-item no-spacing">
                <div class="icon">
                    <i class="ion-paintbrush"></i>
                </div>
                <div class="desc">
                    <h2>可视化分析</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore.
                    </p>
                    <a href="#" class="more">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>