<% provide(:title, @user.name) %>

<br/><br/><br/><br/>

<div class="container">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <table>
    <tr>
      <th>Logs</th>
    </tr>
    <% @user.logs.each do |log| %>
      <tr>
        <td>
          <%= link_to(log.filename, {:controller =>'log', :action => 'profile', :id => log.id})%>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>
  <a href="/upload" class="btn btn-primary">上传新Log</a>
</div>
