<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="">
    <meta name="keyword" content=" template, html5, css3, bootstrap4">
    <meta name="description" content="HTML5 and CSS3 Template Based on Bootstrap 4">
    <title><%= yield(:title) %></title>
    
    <link rel="stylesheet" href="/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stisla.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.js"></script>
    <script src="/js/stisla.js"></script>
</head>


<body>

<nav class="navbar navbar-expand-lg main-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/logo-light.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon">
			<i class="ion-navicon"></i>
		</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link smooth-link" href="/index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-link" href="/login">个人中心</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link smooth-link" href="/logout">退出登录</a>
                </li>
            </ul>
            <form class="form-inline">
                <a href="#" data-toggle="modal" data-target="#helpModal" class="btn smooth-link align-middle btn-primary">Need Help?</a>
            </form>
        </div>
    </div>
</nav>


<%= yield %>
<%= debug(params) if Rails.env.development? %>



<div class="modal fade" id="helpModal" aria-hidden="true" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >帮助</h4>
            </div>
            <div class="modal-body">
                处理器性能调试可视化平台,请您登录后上传Log,点击parse按钮即可进行Log分析。
            </div>
            <div class="modal-footer">
                <a href="/login"><button type="button" class="btn btn-primary">登录</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<footer id="footer">
    <div class="container">
        <figure>
            <img src="/img/logo-light.png" alt="Logo">
        </figure>
        <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </p>
    </div>
</footer>

</body>
</html>
